@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-tg-bg text-tg-text antialiased overflow-x-hidden;
    min-height: 100vh;
  }
}

.glass {
  @apply bg-opacity-60 backdrop-blur-md bg-tg-secondary border border-white/5;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
